/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #2a7cbb;
}

/* Header styles */
header {
    background-color: white;
    color: black;
    padding: 10px 0;
    text-align: center;

}

header .svg-container {
    width: 350px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto;
}

/* Navigation styles */
nav {
    background-color: white;
    color: black;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

.divider-line {
    position: absolute;
    top: 0; /* Position the line at the top of the bottom div */
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc; /* Define the line style */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li a {
    color: black;
    text-decoration: none;
}
.login {
    border: 1px solid #fff; /* White border */
    border-radius: 5px; /* Optional: Add border radius */
    margin-right: 10px; /* Optional: Add spacing between links */
}

/* Signup link styles */
.signup {
    background-color: green; /* Green background color */
    border: 1px solid green; /* Green border */
    border-radius: 5px;
    padding: 8px 12px; /* Add padding to make the button look nicer */
}

/* Main content styles */
main {
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
