body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #bebebe;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #0043caab;
  padding: 20px;
  color: white;
}

.App-title {
  margin: 0;
  font-size: 24px;
}

.board {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.list {
  border: 1px solid #ddd;
  padding: 20px;
  min-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-color: #fff;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.list-title {
  font-size: 20px;
  margin: 0;
}

.card {
  border: 1px solid #000000;
  background-color: #fff;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
}

.card input {
  border: none;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card input:focus {
  outline: none;
  border: 1px solid #007bff;
}

.add-card-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-card-button:hover {
  background-color: #0056b3;
}

.delete-list-button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-list-button:hover {
  background-color: #bd2130;
}

.column {
  text-align: center;
  color: #fff;
  float: left;
  width: 29.84%;
  border: 1px solid #ffffff;
  background-color: #0043caab;
  padding: 5px;
  margin: 0 10px;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

a:link,
a:visited {
  color: #FFF;
}