body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #cfa6e6;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.App-title {
  margin: 0;
  font-size: 24px;
}

.board {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.list {
  border: 1px solid #000000;
  padding: 20px;
  min-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-color: #ffffff;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.list-title {
  font-size: 20px;
  margin: 0;
}

.card {
  border: 1px solid #000000;
  background-color: #fff;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
}

.card input {
  border: none;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card input:focus {
  outline: none;
  border: 1px solid #007bff;
}

.add-card-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-card-button:hover {
  background-color: #0056b3;
}

.delete-list-button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-list-button:hover {
  background-color: #bd2130;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically */
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 20px;
}

.input-field {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #d4bce1;
}

.login-btn, .google-btn {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-btn {
  background-color: #c300ff;
  color: #fff;
}

.google-btn {
  background-color: #8700b0;
  color: #fff;
}

.logout-btn {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #8700b0;
  color: #fff;
}
