.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.5s linear;
    
  }
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #2a7cbb;
}

/* Header styles */
header {
  background-color: white;
  color: black;
  padding: 10px 0;
  text-align: center;

}

header .svg-container {
  width: 350px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
  margin: 0 auto;
}

/* Navigation styles */
nav {
  background-color: white;
  color: black;
  padding: 10px 0;
  text-align: center;
  position: relative;
  height: 45px;
  line-height: 28px;
}

.divider-line {
  position: absolute;
  top: 0; /* Position the line at the top of the bottom div */
  left: 0;
  width: 100%;
  border-top: 1px solid #ccc; /* Define the line style */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-right: 10px;
}
nav ul li a {
  color: black;
  text-decoration: none;
}
.login {
  border: 1px solid #929292; /* White border */
  border-radius: 5px; /* Optional: Add border radius */
  margin-right: px; /* Optional: Add spacing between links */
  padding: 8px 12px;
}

.login:hover {
  background-color: #929292;
  color: white;
}


/* Signup link styles */
.signup {
  background-color: green; /* Green background color */
  border: 1px solid green; /* Green border */
  border-radius: 5px;
  padding: 8px 12px; /* Add padding to make the button look nicer */
  color: white;
}

.signup:hover{
  background-color: rgb(34, 163, 34);
}

.heading{
  color: white;
  text-align: center;
}

.subheading{
  color: white;
  text-align: center;
}

.underline {
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 5px;
  
}

/* Main content styles */
main {
  padding: 20px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
